
  @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.App {
  display: flex;
  background: linear-gradient(125.67deg, #000000 77.26%, #5B5757 99.17%);
  min-height: 100vh;
  width: 100vw;
}

button.home{
  
}